# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
terraform.tfplan

# Docker
*.tar

# Logs
*.log

# VS Code
.vscode/

# Environment Variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db
