# ==========================================================
# Python
# ==========================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.venv/
venv/

# ==========================================================
# Terraform
# ==========================================================
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
terraform.tfplan

# Sensitive files
terraform/password.txt

# ==========================================================
# Docker
# ==========================================================
*.tar

# ==========================================================
# Logs
# ==========================================================
*.log

# ==========================================================
# Environment Variables
# ==========================================================
.env

# ==========================================================
# VS Code
# ==========================================================
.vscode/

# ==========================================================
# macOS
# ==========================================================
.DS_Store

# ==========================================================
# Windows
# ==========================================================
Thumbs.db
